body{
    width: 375px;
    height: 877px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: #E5E5E5;
}


.top{
    width:100%;
    height: 67px;
    background: #C3CFD9;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1{
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}

.option{
    width:100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.option h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
}

.movies-box{
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.movies-box img{
    width: 129px;
    height: 193px;
}
.movies-container{
    width: 100%;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.movies-dates{
    background-color: white;
}

.date{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #293845;
}

.day{
    margin-left: 20px;
}

.times{
    display: flex;
    justify-content: left;
}

.showtime{
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    margin: 22px 8px 23px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}